<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Babcock Security Admin</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script th:src="@{/js/jquery.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/js/bootstrap.min.js}"></script>

</head>

<body>

<div id="wrapper">

    <div th:include="navigation :: header-side-nav"></div>

    <div id="page-wrapper">

        <div id="dashboardContent" class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        <small>Security Admin Overview</small>
                    </h1>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <span class="fa fa-user fa-4x"></span>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26</div>
                                    <div><strong>Users</strong></div>
                                </div>
                            </div>
                        </div>
                            <div class="panel-footer">
                                <a id="usersLink" th:href="@{/navigate-to-users}">
                                <span class="pull-left">Search For User</span>
                                <span class="pull-right"><i class="fa fa-search"></i></span>
                                <div class="clearfix"></div>
                                </a>
                                <a id="createUserLink" th:href="@{/navigate-to-create-user}">
                                <span class="pull-left">Create User</span>
                                <span class="pull-right"><i class="fa fa-plus"></i></span>
                                <div class="clearfix"></div>
                                </a>
                            </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-user-secret fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26</div>
                                    <div><strong>Subjects</strong></div>
                                </div>
                            </div>
                        </div>

                            <div class="panel-footer">
                                <a id="subjectsLink" th:href="@{/navigate-to-subjects}">
                                <span class="pull-left">Search For Subject</span>
                                <span class="pull-right"><i class="fa fa-search"></i></span>
                                <div class="clearfix"></div>
                                </a>
                                <a id="createSubjectLink" th:href="@{/navigate-to-create-subject}">
                                <span class="pull-left">Create Subject</span>
                                <span class="pull-right"><i class="fa fa-plus"></i></span>
                                <div class="clearfix"></div>
                                </a>
                            </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-id-badge fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">12</div>
                                    <div><strong>Roles</strong></div>
                                </div>
                            </div>
                        </div>
                            <div class="panel-footer">
                                <a id="rolesLink" th:href="@{/navigate-to-roles}">
                                <span class="pull-left">Search For Role</span>
                                <span class="pull-right"><i class="fa fa-search"></i></span>
                                <div class="clearfix"></div>
                                </a>
                                <a id="createRoleLink" th:href="@{/navigate-to-create-role}">
                                <span class="pull-left">Create Role</span>
                                <span class="pull-right"><i class="fa fa-plus"></i></span>
                                <div class="clearfix"></div>
                                </a>
                            </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-lock fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">124</div>
                                    <div><strong>Permissions</strong></div>
                                </div>
                            </div>
                        </div>
                            <div class="panel-footer">
                                <a id="permissionsLink" th:href="@{/navigate-to-permissions}">
                                <span class="pull-left">Search For Permission</span>
                                <span class="pull-right"><i class="fa fa-search"></i></span>
                                <div class="clearfix"></div>
                                </a>
                                <a id="createPermissionLink" th:href="@{/navigate-to-create-permission}">
                                <span class="pull-left">Create Permission</span>
                                <span class="pull-right"><i class="fa fa-plus"></i></span>
                                <div class="clearfix"></div>
                                </a>
                            </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

</body>

</html>
